# Docker Hub Credentials
DOCKERHUB_USERNAME=your_username
DOCKERHUB_TOKEN=your_token_or_passwort

# GitHub Credentials (for GHCR Login and Checkout)
GITHUB_TOKEN=ghp_your_personal_access_token
WORKFLOW_PAT=ghp_your_personal_access_token