version: '3.5'
services:
    mopidy:
        container_name: mopidy
        restart: always
        
        ## Run container as root
        # This is required to modify the PUID and PGID by entrypoint script
        user: root

        ## Run cointainer in privileged mode (can help with permission issues)
        # privileged: true

        ## Add container to audio group 
        # change group name or id to your system's audio group
        group_add:
            - audio
        
        ## Add audio device 
        # Change to your system's audio device
        devices:
            - /dev/snd

        volumes:
            # Mopidy config files
            - './config:/config'
            
            # Local media dir
            #- './media:/media:ro'
            
            # Store mopidy library and images on host (persistent)
            #- './local:${HOME}/local'
            
            # Keep spotify credetnials (persistent)
            #- './.spotify:${HOME}/spotify'

            ## Host Audio Support
            # --- ALSA ---
            # Mopidy Config: [audio] output=alsasink
            # Optional: If you have specific configurations or adjustments defined
            #- /etc/asound.conf:/etc/asound.conf
            #- /usr/share/alsa:/usr/share/alsa

            # --- PulseAudio / PipeWire ---
            # Mopidy Config: [audio] output=pulsesink
            # We use absolute paths to remain independent of the shell's XDG_RUNTIME_DIR variable.
            # 1. The Socket
            - '/run/user/${HOST_UID:-1000}/pulse/native:/tmp/pulseaudio.socket:ro'
            # 2. The Cookie (Auth)
            - '${PULSE_COOKIE_PATH:-~/.config/pulse/cookie}:/tmp/pulseaudio.cookie:ro'
        ports:
            - '6600:6600'   # JSON-RPC API and MPD protocol
            - '6680:6680'   # HTTP WebUI
            
        image: 'jojo141185/mopidy:release'   # ImageName:Version
        
        environment: 
            # Set mopidy user and audio group id to match host's specific permissions
            - PUID=${HOST_UID:-1000}
            - PGID=${HOST_GID:-29}

            # PulseAudio server and cookie
            # Points to the socket inside the container
            - PULSE_SERVER=unix:/tmp/pulseaudio.socket
            # Points to the cookie inside the container
            - PULSE_COOKIE=/tmp/pulseaudio.cookie
            
            # Install additional pip packages
            #- PIP_PACKAGES=Mopidy-TuneIn Mopidy-Youtube yt-dlp
