name: Build multi-arch docker images and publish on DockerHub and GHCR

# 1. Controls when the action will run
on:
  # -> Manually from the Actions tab
  workflow_dispatch:
    inputs:
      logLevel:
        type: choice
        description: Log level
        required: false
        default: info
        options:
          - info
          - debug
      platform:
        type: choice
        description: 'Platform to build'
        required: false
        default: all
        options:
          - all
          - linux/amd64
          - linux/arm64
          - linux/arm/v7

  # -> On push to main/develop branches or version tags
  push:
    branches:
      - main
      - develop
    tags:
      - 'v*'
    paths-ignore:
      - '**.md'
      #- '.github/workflows/**'
      - 'docs/**'

  # -> On pull requests targeting the main branch
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      #- '.github/workflows/**'
      - 'docs/**'

  # -> On a weekly schedule
  schedule:
    - cron: '0 2 * * 0' # every Sunday at 2am UTC

# 2. Environment variables available to all jobs
env:
  DOCKERHUB_SLUG: ${{ secrets.DOCKERHUB_USERNAME }}/mopidy
  GHCR_SLUG: ghcr.io/${{ github.repository_owner }}/mopidy

# 3. Permissions for the GITHUB_TOKEN
permissions:
  contents: read
  packages: write # Required to publish packages to GHCR

# 4. A workflow run is made up of one or more jobs
jobs:
  # Job to determine which platforms to build on
  determine_platform:
    name: Determine Platform
    runs-on: ubuntu-latest
    outputs:
      platforms: ${{ steps.set-matrix.outputs.platforms }}
    steps:
      - id: set-matrix
        run: |
          ALL_PLATFORMS=$(cat <<-END
            ["linux/amd64","linux/arm64","linux/arm/v7"]
          END
          )
          if [ -z "${{ github.event.inputs.platform }}" ] || [ "${{ github.event.inputs.platform }}" == "all" ]; then
            echo "PLATFORMS=${ALL_PLATFORMS}" >> $GITHUB_OUTPUT
          else
            SINGLE_PLATFORM="[\"${{ github.event.inputs.platform }}\"]"
            echo "PLATFORMS=${SINGLE_PLATFORM}" >> $GITHUB_OUTPUT
          fi
        shell: bash

  # Job to build the docker images for each platform on a dedicated runner using the matrix strategy
  build:
    name: Build
    needs: determine_platform
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      # List of platforms and images on which the job will be run in parallel.
      matrix:
        platform: ${{ fromJson(needs.determine_platform.outputs.platforms) }}
        image:
          - latest
          - develop
          - release

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Store current platform from matrix as variable $PLATFORM_PAIR (with "/" replaced by "-")
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      # Github action to provide runner with OS information
      - name: Get GitHub Actions runner OS information
        uses: kenchan0130/actions-system-info@master
        id: system-info

      - name: Output System information
        run: |
          OUTPUTS=(
            "CPU Core: ${{ steps.system-info.outputs.cpu-core }}"
            "CPU Model: ${{ steps.system-info.outputs.cpu-model }}"
            "Hostname: ${{ steps.system-info.outputs.hostname }}"
            "Kernel release: ${{ steps.system-info.outputs.kernel-release }}"
            "Kernel version: ${{ steps.system-info.outputs.kernel-version }}"
            "Name: ${{ steps.system-info.outputs.name }}"
            "Platform: ${{ steps.system-info.outputs.platform }}"
            "Release: ${{ steps.system-info.outputs.release }}"
            "Total memory bytes: ${{ steps.system-info.outputs.totalmem }}"
          )

          for OUTPUT in "${OUTPUTS[@]}";do
            echo "${OUTPUT}"
          done

          echo "Disk Space:"
          df -h

      # Free up disk space by removing unused toolchains to prevent "No space left on device"
      - name: Free Disk Space (Ubuntu)
        if: matrix.platform == 'linux/arm/v7' || matrix.platform == 'linux/i386'
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true

          # Set to false. Let the 'docker-on-tmpfs' action manage its own swapfile.
          # This prevents the "swapoff failed: No such file or directory" error.
          swap-storage: false

      # Github Action to get branch or tag information without the /ref/* prefix
      - name: Get branch names
        id: branch-name
        uses: tj-actions/branch-names@v6

      # Github Action to check-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4.1.1

      # GitHub Action to install QEMU static binaries (optional for more platform options in buildx)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # GitHub Action to set up Docker Buildx.
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: ${{ github.event.inputs.logLevel == 'debug' && '--debug' || '' }}
      
      # Hack to fix Errors on arm/v7 and linux/386
      # Work around for qemu bug on 32bit systems caused during rust compilation (https://github.com/JonasAlfredsson/docker-on-tmpfs?tab=readme-ov-file)
      # - "Value too large for defined data type;" https://github.com/crazy-max/ghaction-docker-buildx/issues/172
      # - "object not found - no match for id (SOME_HASH)" on git update
      - name: Run Docker on tmpfs
        if: matrix.platform == 'linux/arm/v7' || matrix.platform == 'linux/i386'
        uses: JonasAlfredsson/docker-on-tmpfs@v1
        with:
          tmpfs_size: 10
          swap_size: 10
          swap_location: '/mnt/swapfile'

      # GitHub Action to extract metadata (tags, labels) for Docker.
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: |
            ${{ env.DOCKERHUB_SLUG }}
            ${{ env.GHCR_SLUG }}
          labels: |
            org.opencontainers.image.title=${{ env.DOCKERHUB_SLUG }}
            org.opencontainers.image.description='Mopidy music server with Iris Web-UI, Spotify support and many other extensions.'
            org.opencontainers.image.vendor=${{ secrets.DOCKERHUB_USERNAME }}

      # GitHub Action to login to DockerHub.
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # GitHub Action to login to GitHub Container Registry.
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # --- This step is only for single arch run  --- #
      # Build and push with a specific tag for single-arch manual runs
      - name: Build and push with specific tag (for single-arch manual run)
        id: docker_build_tagged
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.platform != 'all'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          provenance: false
          labels: ${{ steps.docker_meta.outputs.labels }}
          push: true
          tags: |
            ${{ env.DOCKERHUB_SLUG }}:${{ matrix.image }}-${{ env.PLATFORM_PAIR }}
            ${{ env.GHCR_SLUG }}:${{ matrix.image }}-${{ env.PLATFORM_PAIR }}
          build-args: |
            IMG_VERSION=${{ matrix.image }}
            BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
            VCS_REF=${GITHUB_SHA::8}

      # --- Next steps only for multi-arch run  --- #
      # Build and push by digest for multi-arch runs
      # - Use Docker-Image-Cache from GitHub Actions (gha) and cache all data (max)
      - name: Build and push by digest (for multi-arch)
        id: docker_build_digest
        if: github.event_name != 'workflow_dispatch' || github.event.inputs.platform == 'all'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          provenance: false
          labels: ${{ steps.docker_meta.outputs.labels }}
          tags: |
            ${{ env.DOCKERHUB_SLUG }}
            ${{ env.GHCR_SLUG }}
          #cache-from: type=gha,scope=${{ github.repository }}-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.image }}
          #cache-to: type=gha,mode=max,scope=${{ github.repository }}-${{ github.ref_name }}-${{ matrix.platform }}-${{ matrix.image }}
          outputs: type=image,name=${{ env.DOCKERHUB_SLUG }},name=${{ env.GHCR_SLUG }},push-by-digest=true,name-canonical=true,push=true
          build-args: |
            IMG_VERSION=${{ matrix.image }}
            BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
            VCS_REF=${GITHUB_SHA::8}

      # Export digest and store in GitHub artefact storage for later use in other jobs
      - name: Export digest
        if: github.event_name != 'workflow_dispatch' || github.event.inputs.platform == 'all'
        run: |
          mkdir -p /tmp/digests/${{ matrix.image }}
          digest="${{ steps.docker_build_digest.outputs.digest }}"
          touch "/tmp/digests/${{ matrix.image }}/${digest#sha256:}"

      # Upload digest artifact
      - name: Upload digest
        if: github.event_name != 'workflow_dispatch' || github.event.inputs.platform == 'all'
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.image }}-${{ env.PLATFORM_PAIR }}
          path: /tmp/digests/${{ matrix.image }}/*
          if-no-files-found: error
          retention-days: 1

      - name: Clear digest
        if: github.event_name != 'workflow_dispatch' || github.event.inputs.platform == 'all'
        run: |
          rm -rf /tmp/digests/${{ matrix.image }}

  # Job to merge the multi-arch images into a single manifest
  merge:
    # Only run this job for multi-arch builds
    if: |
      github.event_name != 'pull_request' &&
      (
        github.event_name != 'workflow_dispatch' ||
        github.event.inputs.platform == 'all'
      )
    name: Merge Docker manifests
    strategy:
      fail-fast: false
      matrix:
        image:
          - latest
          - develop
          - release
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      # Download all digest artifacts
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: /tmp/digests/${{ matrix.image }}
          pattern: digests-${{ matrix.image }}-*
          merge-multiple: true

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # GitHub Action to extract metadata (final tags) for Docker.
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_SLUG }}
            ${{ env.GHCR_SLUG }}
          tags: |
            type=raw,value=${{ matrix.image }},enable=${{ github.ref_name == github.event.repository.default_branch }}
            type=raw,value=dev_${{ matrix.image }},enable=${{ github.ref == format('refs/heads/{0}', 'develop') }}
            type=raw,value=test_${{ matrix.image }},enable=${{ github.ref_name != github.event.repository.default_branch && github.ref != format('refs/heads/{0}', 'develop') }}

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Login to GitHub Container Registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Create and push the multi-arch manifest
      - name: Create manifest list and push
        working-directory: /tmp/digests/${{ matrix.image }}
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< '${{ steps.meta.outputs.json }}') \
            $(printf '${{ env.DOCKERHUB_SLUG }}@sha256:%s ' *)

      # Inspect the final image on Docker Hub
      - name: Inspect image on Docker Hub
        run: |
          docker buildx imagetools inspect ${{ env.DOCKERHUB_SLUG }}:${{ steps.meta.outputs.version }}

      # Inspect the final image on GHCR
      - name: Inspect image on GHCR
        run: |
          docker buildx imagetools inspect ${{ env.GHCR_SLUG }}:${{ steps.meta.outputs.version }}

  # Job to clean up single-arch tags after a successful multi-arch merge
  cleanup_single_arch_tags:
    name: Cleanup Single-Arch Tags
    runs-on: ubuntu-latest
    needs: merge
    if: success()
    strategy:
      fail-fast: false
      matrix:
        image:
          - latest
          - develop
          - release
        platform:
          - linux/amd64
          - linux/arm64
          - linux/arm/v7
    steps:
      # Construct the tag name to be deleted (e.g., 'latest-linux-amd64')
      - name: Construct tag to delete
        id: construct
        run: |
          platform=${{ matrix.platform }}
          platform_pair=${platform//\//-}
          echo "tag=${{ matrix.image }}-${platform_pair}" >> $GITHUB_OUTPUT

      # Delete tag from Docker Hub using the official hub-tool
      - name: Delete tag from Docker Hub using hub-tool
        run: |
          # Define the newer version and asset format
          VERSION=v0.4.6
          ASSET_URL="https://github.com/docker/hub-tool/releases/download/${VERSION}/hub-tool-linux-amd64.tar.gz"

          # Download the compressed archive
          curl -sL "${ASSET_URL}" -o hub-tool.tar.gz
          
          # Extract the binary from the archive
          tar -xzf hub-tool.tar.gz

          # Make the extracted binary executable and move it to the path
          chmod +x hub-tool
          sudo mv hub-tool /usr/local/bin/hub-tool

          # Login and delete the tag as before
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | hub-tool login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
          hub-tool tag rm ${{ env.DOCKERHUB_SLUG }}:${{ steps.construct.outputs.tag }} --force
        continue-on-error: true # Continue if tag does not exist

      # Delete tag from GitHub Container Registry
      - name: Delete tag from GitHub Container Registry
        uses: bots-house/ghcr-delete-image-action@v1.1.0
        with:
          owner: ${{ github.repository_owner }}
          name: mopidy
          token: ${{ secrets.WORKFLOW_PAT }}
          tag: ${{ steps.construct.outputs.tag }}
        continue-on-error: true # Continue if tag does not exist