name: Sync description and README.md to Docker Hub

on:
  push:
    branches:
      - 'main'
    paths:
      - README.md
      - .github/workflows/sync-description.yml
  pull_request:
    branches:
      - 'main'
    paths:
      - README.md
      - .github/workflows/sync-description.yml
  #schedule:
  #  - cron: '0 12 * * *' # everyday at 12am

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "sync-readme"
    sync-readme:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Set environment variables
        env:
          DOCKERHUB_SLUG: ${{secrets.DOCKERHUB_USERNAME}}/mopidy
          
        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Github action to get branch or tag information without the /ref/* prefix
          - name: Checkout
            uses: actions/checkout@v4
          
            # Github action to sync description files to docker hub
          - name: Docker Hub README & description sync
            uses: peter-evans/dockerhub-description@v4
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
              repository: ${{ env.DOCKERHUB_SLUG }}
              readme-filepath: ./README.md
              short-description: Mopidy music server with Iris Web-UI, Spotify support and many other extensions.

